POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
KTOWN_DATABASE_URL=
KTOWN_OBJECT_STORAGE_ENDPOINT=
KTOWN_OBJECT_STORAGE_BUCKET=
KTOWN_ENVIRONMENT=
KTOUR_SERVICE_KEY=
KTOUR_MOBILE_APP=
